.header-container {
	width: 100%;
	max-width: remy(1390);
	padding-inline: remy(15);
	margin: 0 auto;
}
.header-top {
	position: relative;
	height: remy(101);
	background-color: #e43071;
	z-index: 3;

	&__btn {
		column-gap: remy(38);
		margin-left: remy(73);

		@media (max-width: remy(1439)) {
			margin-left: 2.5rem;
		}
		@media (max-width: remy(1199)) {
			column-gap: 1.5rem;
			margin-left: 1.5rem;
		}
	}
	@media (max-width: remy(991)) {
		height: remy(64);
	}
}
.nav a {
	padding: remy(3);
	line-height: 1.095;
	color: #fff;
	transition: opacity 0.3s ease-in;
	&:hover {
		opacity: 0.7;
	}
}
.nav {
	&__list {
		flex-shrink: 0;
		column-gap: remy(70);
		transition: 0.3s;
		z-index: -50;
		@media (max-width: remy(1439)) {
			column-gap: 2.5rem;
		}
		@media (max-width: remy(1199)) {
			margin-left: 1.5rem;
		}
		@media (max-width: remy(991)) {
			position: fixed;
			top: remy(65);
			bottom: 0;
			left: remy(-25);
			right: 0;
			z-index: 2;
			background-color: #e43071;
			flex-direction: column;
			padding-block: remy(40);
			row-gap: remy(40);
			transform: translateX(110%);
			a {
				font-size: remy(20);
			}
		}
	}
}
.nav {
	&.active {
		.nav__list {
			transform: translateX(0);
		}
	}
}

.header-content__wrapper {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	@media (max-width: remy(767)) {
		top: 43%;
	}
}

.header-content {
	@media (max-width: remy(360)) {
		height: remy(410);
	}
}
.h1 {
	margin-bottom: remy(30);
	color: #fff;
	width: 15ch;
	@media (max-width: remy(900)) {
		font-size: remy(40);
		margin-bottom: remy(10);
	}
	@media (max-width: remy(767)) {
		font-size: remy(36);
	}
}
