.stories {
	padding: remy(145) 0 remy(80);
	background: linear-gradient(360deg, #f4e3e9 0%, rgba(255, 255, 255, 1) 100%);
	@include tablet {
		padding-top: remy(70);
	}
	@include mobile {
		padding: remy(44) 0 remy(41);
	}
	&-container {
		max-width: remy(1005);
		margin: 0 auto;
		padding-inline: remy(15);
		@include mobile {
			padding-inline: remy(28);
		}
	}
	&__title {
		margin-bottom: remy(32);
		@include mobile {
			margin-bottom: remy(25);
			padding-left: remy(24);
		}
		.h3 {
			line-height: 1.192;
			margin-bottom: remy(9);
			@include mobile {
				font-size: remy(26);
			}
		}
		p {
			font-size: remy(18);
			@include mobile {
				font-size: remy(9);
			}
		}
	}
}

.stories-card {
	padding: remy(35) remy(32) remy(36) remy(27);
	width: remy(349);
	flex-shrink: 0;
	box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.18);
	background: #fff;
	border-radius: 10px;
	@include mobile {
		display: flex;
		flex-direction: column;
		padding: remy(20) remy(22) remy(26) remy(19);
		width: remy(243);
	}

	.h5 {
		margin-bottom: remy(26);
		line-height: remy(44);
		color: #e43071;
		@include mobile {
			font-size: remy(26);
			margin-bottom: remy(16);
		}
	}
	&__desc {
		position: relative;
		margin-bottom: remy(20);
		padding-left: remy(37);
		font-size: remy(18);
		line-height: 1.77778;
		@include mobile {
			padding-left: remy(23);
			font-size: remy(18);
			margin-bottom: remy(13);
			flex-grow: 1;
		}
		p {
			font-size: remy(18);
			line-height: 1.77778;
			@include mobile {
				font-size: remy(12);
			}
		}
		span {
			position: absolute;
			left: 2px;
			top: -3px;
			line-height: 1;
			font-family: 'Times New Roman';
			font-size: remy(45);
			color: #f8c5d7;
			@include mobile {
				left: -5px;
				top: -6px;
				font-size: remy(37);
			}
		}
	}
}

.stories-cards-wrapper {
	position: relative;
	display: flex;
	align-items: flex-start;
	column-gap: remy(33);
	padding-left: remy(97);
	padding-bottom: remy(68);

	@include tablet {
		column-gap: remy(20);
	}
	@include mobile {
		align-items: stretch;
		column-gap: remy(27);
		padding-left: remy(21);
		padding-bottom: 0;
		width: calc(50% + 50vw);
		overflow: hidden;
		overflow: auto;
		scrollbar-width: none;
	}
}

.stories-card__footer {
	display: flex;
	align-items: flex-end;
	column-gap: remy(17);
	padding-left: remy(39);
	@include mobile {
		column-gap: remy(13);
		padding-left: remy(25);
	}
}
.stories-card__img {
	flex-shrink: 0;
	border-radius: 50%;
	overflow: hidden;
	@include mobile {
		width: 41px;
		height: 40px;
	}
}
.stories-card__name {
	p {
		font-weight: 600;
		font-size: remy(18);
		line-height: remy(24);
		@include mobile {
			font-size: remy(12);
			line-height: 0;
		}
	}
	span {
		font-size: remy(14);
		line-height: remy(2);
		color: #969bab;
		@include mobile {
			font-size: remy(9);
		}
	}
}
.stories-card:nth-child(2) {
	margin-top: remy(-136);
	width: remy(449);
	padding-top: remy(46);
	padding-left: remy(27);
	@include mobile {
		margin-top: 0;
		padding: remy(24) remy(22) remy(26) remy(19);
		width: remy(243);
	}
	.h5 {
		margin-bottom: remy(20);
		padding-left: remy(8);
		line-height: 1;
		@include mobile {
			margin-bottom: remy(20);
		}
	}
	.stories-card__desc {
		margin-bottom: remy(10);
		@include mobile {
			margin-bottom: remy(13);
		}
		span {
			left: 0;
			top: -8px;
		}
	}
}

.stories-card:nth-child(3) {
	position: absolute;
	top: 239px;
	bottom: 0;
	right: remy(142);
	width: remy(351);
	padding: remy(31) remy(32);

	@include mobile {
		position: relative;
		top: auto;
		bottom: auto;
		right: auto;
		padding: remy(24) remy(22) remy(26) remy(19);
		width: remy(243);
		margin-right: remy(20);
	}
	.h5 {
		line-height: 1;
		margin-bottom: remy(36);
		@include mobile {
			margin-bottom: remy(20);
		}
	}
	.stories-card__desc {
		padding-left: remy(31);
		margin-bottom: remy(16);
		@include mobile {
			padding-left: remy(27);
			margin-bottom: remy(13);
		}
		span {
			left: -7px;
			top: -7px;
		}
	}
	.stories-card__footer {
		padding-left: remy(32);
	}
}
