.new-body__container {
	width: 100%;
	max-width: remy(1190);
	margin: 0 auto;
	padding-inline: remy(15);
}

.premium__container {
	width: 100%;
	max-width: remy(1235);
	margin: 0 auto;
	padding-inline: remy(15);
}
