.new-body__container {
	width: 100%;
	max-width: remy(1190);
	margin: 0 auto;
	padding-inline: remy(15);
}

.premium__container {
	width: 100%;
	max-width: remy(1235);
	margin: 0 auto;
	padding-inline: remy(15);
}

.social-container {
	width: 100%;
	max-width: remy(540);
	margin: 0 auto;
	padding-inline: remy(15);
	@media (max-width: remy(424)) {
		max-width: remy(307);
	}
}

.footer-container {
	width: 100%;
	max-width: remy(1144);
	margin: 0 auto;
	padding-inline: remy(15);
}
