.h1,
.h2,
.h4 {
	font-size: remy(70);
	line-height: 1.1;
	font-weight: 700;
}
.h2 {
	font-size: remy(60);
}
.h3,
.h5 {
	font-size: remy(48);
	line-height: 1.1;
	font-weight: 600;
}
.h4 {
	font-size: remy(40);
}
.h5 {
	font-size: remy(38);
}
